body{
    margin: 0;
    padding: 0;
    font-family: "Pacifico", cursive;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f1f1f1;
}
.container {
    width: 100%;
    max-width: 500px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button {
    background-color: hotpink;
    padding: 10px 10px;
    border: 2px solid white;
    color: #fff;
    border-radius: 5px;
    font-size:20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.button:hover {
    background-color: #0ac4ca;
    font-family: "Pacifico", cursive;
    border: 2px solid rgb(189, 24, 134);
}
